<div class="container contact">
    <div class="row">
        <div class=" pt-3 col-12 d-flex text-light justify-content-between align-items-center">
            <p class="m-0 contact-title">Contattami</p>
            <!-- <i class="m-0 p-0 fa-solid fa-circle-right"></i> -->
        </div>
    </div>
    <div class="row mt-3 h100 d-flex align-items-center">
        <div class="col">
            <h3 class="text-light">Email:</h3>
            <a class="text-light" href="mailto:angeloamenta7@gmail.com">Angelo Amenta</a>
            <div style="border: 1px solid var(--lightgray);height: 150px;width: 150px;position: absolute;right: -15px;transition: rotate(50deg);rotate: 30deg;top: 90px;"></div>
            <div style="border: 1px solid var(--orange);height: 150px;width: 150px;position: absolute;right: -20px;transition: rotate(50deg);rotate: 30deg;top: 33px;"></div>
        </div>
    </div>
</div>

