<div class="container contact">
    <div class="row">
        <div class=" pt-3 col-12 d-flex text-light justify-content-between align-items-center">
            <a href="mailto:angeloamenta7@gmail.com" class="m-0 contact-title">Contattami</a>
            <!-- <i class="m-0 p-0 fa-solid fa-circle-right"></i> -->
        </div>
    </div>
    <div class="row mt-5 h100 d-flex align-items-center">
        <div class="col">
            
            <a class="text-light mt-2" href="mailto:angeloamenta7@gmail.com">
                <img class="img-card" src="../../../assets/img/log-1-t.png" alt="">
            </a>
            <div style="border: 1px solid black;height: 150px;width: 150px;position: absolute;right: -15px;transition: rotate(50deg);rotate: 30deg;top: 90px;"></div>
            <div style="border: 1px solid var(--orange);height: 150px;width: 150px;position: absolute;right: -20px;transition: rotate(50deg);rotate: 30deg;top: 33px;"></div>
        </div>
    </div>
</div>

