.contact {
    /* background-color: #9989be; */
    background-color: var(--black);
    margin-top: 10px;
    border-radius: 15px;
    min-height: 250px;
    position: relative;
    overflow: clip;

}

.contact-title {
    border: 0.5px solid white;
    border-radius: 15px;
    padding: 0 10px;
}


@media (max-width: 575.98px) { 
    
    .contact {
        width: 95%;
    }
   

  }