<div class="container about">
    <div class="row">
        <a routerLink="/about" class=" pt-3 col-12 d-flex text-light justify-content-between align-items-center">
            <p class="m-0 about-title">Su di Me</p>
            <i class="m-0 p-0 fa-solid fa-circle-right"></i>
        </a>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-light">What am I studying:</h2>
        </div>
    </div>
    <div class="row study-now">
        <div class="col-4 text-center">
            <img class="w-100" src="../../../assets/img/angular-logo.png" alt="">
            <h4>Angular</h4>
        </div>
        <div class="col-4 text-center">
            <img class="w-100" src="../../../assets/img/Cloudflare_Logo.svg.png" alt="">
            <h4>CloudFlare</h4>
        </div>
        <div class="col-4 text-center">
            <img class="w-100" src="../../../assets/img/firebase-logo.png" alt="">
            <h4>Firebase</h4>
        </div>
    </div>
</div>
