.about {
    background-color: #DFB928;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 250px;

}

.study-now h4 {
    color: white;
}


.about-title {
    border: 0.5px solid white;
    border-radius: 15px;
    padding: 0 10px;
}

.study-now img {
    height: 50px;
    object-fit: contain;
}

@media (max-width: 575.98px) { 
    
    .about {
        width: 95%;
    }

    .study-now img {
        height: 50px;
        object-fit: contain;
    }
   

  }