.about {
    background-color: #DFB928;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 250px;

}




@media (max-width: 575.98px) { 
    
    .about {
        width: 90%;
    }
   

  }