.header {
    height: 50px;
    padding: 10px;
}

.homepage {
    border: 1px solid var(--gray);
    border-radius: 25px;
}

.mr-3 {
    margin-right: 10px ;
}

@media (max-width: 575.98px) { 
    
    .header {
        width: 90%;
    }

  }