
<div class="container hero">
    <div class="row top-hero flex-column-reverse flex-md-column align-items-center">
        <div class="col-12 col-md-10 h100m d-flex align-items-center ">
            <h1 class="title-name">Angelo Amenta</h1>
        </div>
        <div class="col-12 col-md-2 h100m d-flex align-items-center justify-content-start">
            <div class="circle-img">
                <img src="../../../assets/img/IMG_9656-01-01.jpeg" alt="">
            </div>
        </div>
    </div>

    <div class="row bottom-hero">
        <div class="col">
            <div class="role d-flex">
                <p class="only-border">Frontend Developer</p>
                <p class="only-border">Wordpress Developer</p>
            </div>
        </div>
    </div>
</div>