.projects-home {
    margin-top: 10px;
    /* border: 0.5px solid white; */
    background-color: var(--black);
    border-radius: 15px;
    min-height: 250px;
    overflow: hidden;
}

.project-title {
    border: 0.5px solid white;
    border-radius: 15px;
    padding: 0 10px;
}


#carouselExampleIndicators .carousel-inner .carousel-item.active {
    display: flex !important;
    justify-content: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
    width: 60% !important;
}

@media (max-width: 575.98px) { 
    
    .projects-home {
        width: 95%;
    }
   
    .carousel-item img {
        height: 300px;
        object-fit: contain;
    }

  }

 