<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-web">Qualcosa su di me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-web mt-3">                 
                Ho sempre avuto la passione per la tecnologia. Che si trattasse di PC, smartphone o videogame.<br class="mb-2">
                Cercando tra i lavori possibili in ambito IT mi sono imbattuto nel cooding e da allora, dopo aver visto le soddisfazioni che mi dava ed essermi appassionato, ho deciso di apprendere quanto più possibile per farne il mio lavoro.<br class="mb-2">

                Creo siti Web responsive facili da consultare sia in <span>mobile</span> che in modalità <span>desktop</span>. <br>
                L'area dove sono più ferrato è lo sviluppo <span>front-end</span> con tecnologie com <span>HTML</span>,<span>CSS</span>, <span>JAVASCRIPT</span>.
                <br class="mb-2">

                Ho maturato anche esperienza di sviluppatore full-stack con <span>Wordpress</span>,<span>WooCommerce</span>, <span>PHP</span> e <span>MySQL</span>
            </p>
        </div>
    </div>
    <a routerLink="/" class="col-5 d-flex text-web justify-content-between align-items-center homepage">
        <p class="m-0 p-0">Home Page</p>
        <i class="m-0 p-0 fa-solid fa-circle-arrow-right"></i>
    </a>
</div>