<!-- ToDoList -->
<div class="container container-project">
<div class="container project-card">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-web">ToDoList</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img class="w-100" src="../../../assets/img/angular.png" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p class="text-web">
                In questo progetto ho utilizzato le varie direttive come ngIf ed ngFor i form di angular con la creazione dei vari componenti e Service
    
    App ToDoList
    
    - Nell'imput di sinistra è possibile inserire il titolo della nota ed un testo
    
    - non sarà possibile inserire lo stesso testo (maiuscolo o mimuo) o verrà restituito un banner di errore
    
    - a destra comparirà la nota appena inserita e con i bottoni vicino al titolo sarà possibile eliminare o editare la nota
    
    - in alto a destra sono presenti dei pulsanti globali che permettono di selezionare tutto (a patto che esista almeno una nota) deselezionare tutto (a patto che ci sia qualcosa di selezionato) ed eliminare tutti gli elementi selezionati (a patto che ve ne sia almeno uno selezionato)
            </p>
        </div>
    </div>
</div>

<!-- spotify -->
<div class="container project-card mt-3">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-web">Spotify</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img class="w-100" src="../../../assets/img/spotify.png" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p class="text-web">
                Progetto Spotify responsive. <br>
                Primo approccio a bootstrap tramite cdn e primi test sul design responsive. <br>
                L'app si sviluppa per tutta l'altezza dello schermo, senza necessità di scrolling.
            </p>
        </div>
    </div>
</div>

<!-- spot -->

<div class="container project-card mt-3">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-web">Spot E-commerce</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img class="w-100" src="../../../assets/img/spot.png" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p class="text-web">
                Progetto sviluppato con wordpress ed il plugin woocommerce. <br>
                Il sito nasce come pagina istituzionale per diventare successivamente un e-commerce a tutti gli effetti con possibilità di pagamenti tramite PayPal, Klarna e carte di vario tipo. <br>
                Possibilità di inserire gli articoli in una wishlist per acquistarli successivamente.
            </p>
        </div>
    </div>
</div>

<!-- menu digitale -->

<div class="container project-card mt-3">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-web">Menu Digitale</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img class="w-100" src="../../../assets/img/menu.png" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p class="text-web">
                Menu digitale sviluppato su richiesta di un locale per mostrare piatti e bevande disponibili. <br>
                Il tutto sviluppato con Vue dai piatti creati dinamicamente con il v-for fino alle route che al cambio mostrano colorazioni diverse.
            </p>
        </div>
    </div>
</div>

<!-- landing page -->
<div class="container project-card mt-3">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-web">Landing Page Generica</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img class="w-100" src="../../../assets/img/page.jpg" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p class="text-web">
                Landing Page sviluppata con Vue.js e bootstrap per testare il layout responsive e creare dinamicamente il contenuto tramite v-for ed oggetti javascript.
            </p>
        </div>
    </div>
</div>

<div class="mt-3 d-flex justify-content-between">
    <a routerLink="/" class="col-5 d-flex text-web justify-content-between align-items-center homepage">
        <p class="m-0 p-0">Home Page</p>
        <i class="m-0 p-0 fa-solid fa-circle-arrow-right"></i>
    </a>
    <div (click)="onActivate($event)" class="col-5 d-flex text-web justify-content-between align-items-center homepage">
        <p class="m-0 p-0">Torna Su</p>
        <i class="m-0 p-0 fa-solid fa-circle-arrow-up"></i>
    </div>
</div>

</div>