/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');


:root {
    --orange:#EB5E28;
    --lightgray:#CCC5B9;
    --gray:#403D39;
    --white:#FFFCF2;
    --black:#252422;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.router {
    margin: 100px;
}

html, body { height: 100%;
     font-family: 'DM Sans', sans-serif !important; }
body {
     margin: 0; 
     /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
     height: 100vh;
     padding-top: 10px;
     padding-bottom: 10px;
}

.h100m {
    height: 100%;
}

.h100 {
    height: 100%;
}

a {
    text-decoration: none;
}


 text-web {
    color: var(--white);
 }

 a {
    color: var(--orange);
 }

 a:hover {
    color: var(--orange) !important;
 }

 .homepage {
    /* border: 1px solid var(--white); */
    border-radius: 25px;
    padding: 0px 5px
}

.round {
    border-radius: 50%;
}

.w80 {
    width: 80%;
}

.w50 {
    width: 50%;
}


